{% extends 'base.html' %}
{% block title %}Users in {{ user.hospital.name }}{% endblock %}
{% block content %}
    <h2 class="text-center">Users in {{ user.hospital.name }}</h2>
    <a href="{% url 'Prescription~OCR_Based_Portal:signup' %}" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;Add User</a>
    <h4>Doctors</h4>
<ul class="list-group">
    {% for user in doctors %}
        <a href="{% url 'Prescription~OCR_Based_Portal:medical_information' user.pk %}"  class="list-group-item">
            {{ user.get_full_name }}<br />
        </a>
    {% endfor %}
</ul>
    <h4>Nurses</h4>
<ul class="list-group">
    {% for user in nurses %}
        <a href="{% url 'Prescription~OCR_Based_Portal:medical_information' user.pk %}"  class="list-group-item">
            {{ user.get_full_name }}
        </a>
    {% endfor %}
</ul>
    <h4>Patients</h4>
<ul class="list-group">
    {% for user in patients %}
        <a href="{% url 'Prescription~OCR_Based_Portal:medical_information' user.pk %}"  class="list-group-item">
            {{ user.get_full_name }}
        </a>
    {% endfor %}
</ul>
{% endblock %}